body {
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

label {
    font-size: 32px;
    text-align: center;
    display: -webkit-box;
    font-weight: bold;
}

textarea {
    outline: none;
    -moz-appearance: none;
    background: transparent !important;
    width: 1000px;
    border: 2px solid #23394a;
}

select {
    word-wrap: normal;
    width: 150px;
    height: 30px;
    border-radius: 3px;
}

header {
    background-color: #23394A;
}


.dlt-btn {
    display: none
}

select#id_choice {
    background-color: #23394a;
    width: 200px;
    height: 35px;
    padding: 5px;
    color: #Fff;
}
