{% extends 'base.html' %}
{% block title %}
    <h1>Main</h1>
{% endblock %}
{% block content %}
<div style="margin-top:60px;">
    <form method="post" action="">
        {% csrf_token %}
        <p>Choice: </p>{{ form.choice }}
        <p>text: </p>{{ form.text }}
<!--        <p>Post dates: </p>{{ form.post_dates }}-->
        <input type="text" data-multiple-dates="100" data-multiple-dates-separator=", " data-position="top left" class="datepicker-here">
        <button type="submit" class="btn btn-danger">save</button>
    </form>
</div>
{% endblock %}

