{% extends 'base.html' %}
{% block content %}
<!--<div style="margin-top: 40px; background: #Eee;">-->
<!--    <div class="text-len">{{ object_list }}</div>-->
<!--</div>-->
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for (var checkbox in checkboxes)
            checkbox.checked = source.checked;
    }
</script>
<table class="table table-hover mt-5">
    <thead>
    <tr>
        <th><input type="checkbox" onClick="toggle(this)"/></th>
        <th>№</th>
        <th>Дата</th>
        <th>Телеканал</th>
        <th>Текст</th>
        <th>Дата проката (отст)</th>
        <th>Кол. день</th>
        <th>Кол. симв</th>
        <th>Сумма</th>
        <th>Статус</th>


    </tr>
    </thead>
    <tbody>
    {% for text in object_list %}
    <tr>
        <th><input type="checkbox" id="scales" name="foo"></th>
        <th>{{ text.id }}</th><!-- № текста-->
        <th style="padding: 10px;">{{ text.order_date }}</th> <!--Дата создания-->
        <th style="padding: 10px;">{{ text.choice }}</th> <!-- Телеканал -->
        <th style="padding: 10px;">{{ text.text }}</th> <!-- Текст -->
        <th style="padding: 10px;">{{ text.post_dates }}</th><!--Дата проката-->
        <th style="padding: 10px;">{{ text.post_dates }}</th> <!--Количество дней-->
        <th style="padding: 10px;">{{ text.quantity_symbols }}</th> <!--Количество символов-->
        <th style="padding: 10px;">{{ text.total_price }} сом</th> <!--Сумма -->
        <th>{{ text.reception }}</th>

    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
{% endblock %}
