{% extends 'base.html' %}
{% block content %}
<!--<div style="margin-top: 40px; background: #Eee;">-->
<!--    <div class="text-len">{{ object_list }}</div>-->
<!--</div>-->
<table class="table table-hover mt-5">
<thead>
    <tr>
        <th>TV Channel:</th>
        <th>Order Date</th>
        <th>Text</th>
        <th>Qu. symbols</th>
        <th>Post date</th>
        <th>price</th>
    </tr>
</thead>
<tbody>
    {% for text in object_list %}
    <th style="padding: 10px;">{{ text.tv_choice }}</th>
    <th style="padding: 10px;">{{ text.order_date }}</th>
    <th style="padding: 10px;">{{ text.text }}</th>
    <th style="padding: 10px;">{{ text.quantity_symbols }}</th>
    <th style="padding: 10px;">{{ text.post_dates }}</th>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
